.mission__bg {
    background-color: #F8F8F8;
    width: 100%;
    margin-bottom: 5.5rem;
}

.mission {
    display: flex;
    align-items: center;
}

.mission__text {
    font-size: 1.2rem;
    padding-right: 4rem;
}

.mission-text__desc {
    margin-bottom: 3.75rem;
}

.mission-text__desc-harekrishna {
    font-family: 'MuseoBolder';
}

.mission-text__signature {
    font-size: 1rem;
    width: 12rem;
    font-family: 'MuseoItalicNormal';
    text-align: right;
    margin-left: auto;
}

.mission__img {
    display: flex;
    flex-direction: column;
}

.mission__png-header {
    height: 232px;
    background-color: #3B3B3B;
    color: #fff;
    font-family: 'MuseoBolder';
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.mission-png__text {
    padding: 0 2rem;
}
