.missionBg {
	background-color: #F8F8F8;
	width: 100%;
	margin-bottom: 2.5rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.mission {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.missionText {
	font-size: 0.9rem;
	padding: 2rem 2rem 3rem 2rem;
}

.missionDesc {
	align-items: center;
	margin-bottom: 1.8rem;
}

.missionTextDesc {
	font-family: 'Museo';
	font-weight: 900;
}

.missionSignature {
	font-size: 0.75rem;
	width: 11rem;
	font-family: 'Museo';
	font-weight: 500;
	font-style: italic;
	text-align: right;
	margin-left: auto;
}

.missionImg {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.missionImgHeader {
	height: 232px;
	background-color: #3B3B3B;
	color: #fff;
	font-family: 'Museo';
	font-weight: 900;
	text-transform: uppercase;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.missionImgText {
	padding: 0 2rem;
	font-size: 1.8rem;
}



// MEDIA QUERIES




@media (min-width: 768px) {
	.mission {
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.missionText {
		padding: 0 4rem 0 0;
		font-size: 1.2rem;
	}

	.missionDesc {
		margin-bottom: 4rem;
	}
}