.snippet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 6rem;
}

.snippetPoem,
.snippetSanskrit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.snippetHeader {
    color: #2B1EDD;
    font-size: 2rem;
    font-family: 'MuseoBolder';
    text-transform: uppercase;
    margin: 0;
    line-height: 1.3;
}

.snippetLinkPoem,
.sanskritWordTranslationHeader,
.sanskritWordTranslation {
    font-family: 'MuseoItalicNormal';
    color: #828080;
    font-size: 0.75rem;
}

.snippetLinkPoem {
    margin: 0.75rem 0 1.25rem 0;
}

.snippetDesc {
    font-size: 1.2rem;
}

.sanskritText {
    font-family: 'FreeSansOblique';
    font-size: 1.25rem;
}

.sanskritWordTranslation {
    padding-left: 2.4rem;
    border-left: solid 2px #E122F9;
}

.sanskritLinks {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}

.sanskritLinkGood,
.sanskritLinkNext {
    text-decoration: none;
}

.sanskritLinkGoodHeader {
    color: #5C90DE;
}

.sanskritLinkNextHeader {
    display: flex;
    color: inherit;
}

.sanskritLinkNextHeader {
    padding-right: 0.6rem;
}
