.socialHeader {
	color: #2B1EDD;
	font-size: 2rem;
	font-family: 'Museo';
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1.2rem;
	text-align: center;
}

.socialWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 660px;
	width: 840px;
	background-color: #ccc;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}

.socialBlock {
	width: 85%;
	height: 85%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialBlockItem {
	font-size: 2rem;
}



// MEDIA QUERIES



@media (min-width: 376px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 980px) {}

@media (min-width: 981px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}