.bookSlider {
    display: flex;
    flex-direction: column;
}

.bookSliderTop {
    display: flex;
    margin-bottom: 3rem;
}

.bookSliderWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    width: 50%;
    background-color: #ccc;
}

.bookSliderBlock {
    width: 85%;
    height: 85%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookSliderBlockItem {
    font-size: 2rem;
}

.bookSliderBookDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bookLinkHeader {
    font-family: 'MuseoBold';
    font-size: 2rem;
    margin: 0;
    line-height: 1.3;
}

.bookSliderBtnBlock {
    display: flex;
    align-items: center;
}

.bookSliderBtn {
    line-height: 1.2;
    font-size: 0.6rem;
    font-family: 'MuseoBold';
    padding: 0.75rem 2rem;
    color: #fff;
    background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
}

.bookSliderPrice {
    padding-left: 1.2rem;
    font-family: 'MuseoBold';
    font-size: 1.8rem;
}

.dot {
    background-color: #828080;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.dot:not(:last-child) {
    margin-right: 0.4rem;
}

.bookSliderDots {
    display: flex;
}

.bookSliderBottom {
    margin-bottom: 6.5rem;
}

.bookSliderBottomDots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bookAnnouncement {
    margin-bottom: 3rem;
}

.sliderSignature {
    font-size: 0.75rem;
    font-family: 'MuseoItalicNormal';
}



// MEDIA QUERIES



@media (min-width: 376px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 980px) {}

@media (min-width: 981px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
