.container {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bookSlider {
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	order: 1;
}

.bookSliderWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 360px;
	background-color: #ccc;
	margin-bottom: 1rem;
}

.bookSliderBlock {
	width: 85%;
	height: 85%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bookSliderBlockItem {
	font-size: 2rem;
}

.bookSliderBookDesc {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bookLinkHeader {
	font-family: 'MuseoBold';
	font-size: 1.2rem;
	margin-bottom: 1.2rem;
	line-height: 30px;
}

.bookSliderBtnBlock {
	display: flex;
	flex-direction: column-reverse;
}

.bookSliderBtn {
	line-height: 24px;
	font-size: 0.75rem;
	font-family: 'MuseoBold';
	padding: 0.75rem 2rem;
	text-align: center;
	color: #fff;
	background: linear-gradient(82.09deg, #E122F9 -1.27%, #2B1EDD 69.03%);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
}

.bookLinkHeaderAuthor {
	margin-bottom: 1.8rem;
}

.bookSliderPrice {
	font-family: 'MuseoBold';
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
}

.bookAnnouncement {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0 2rem;
	order: 3;
}

.bookAnnouncementText {
	margin-bottom: 1.2rem;
}

.sliderSignature {
	font-size: 0.75rem;
	font-family: 'MuseoItalicNormal';
	width: 7rem;
}

.dot {
	background-color: #828080;
	width: 11px;
	height: 11px;
	border-radius: 50%;
}

.dot:not(:last-child) {
	margin-right: 0.4rem;
}

.bookSliderDots {
	display: flex;
}

.bookSliderBottom {
	padding: 0 2rem;
	order: 2;
	margin-bottom: 1.2rem;
	margin-top: 1.8rem;
	margin-right: auto;
	margin-left: auto;
}

.bookSliderBottomDots {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



// MEDIA QUERIES



@media (min-width: 981px) {
	.bookSlider {
		flex-direction: row;
	}

	.container {
		align-items: stretch;
	}

	.bookSlider,
	.bookAnnouncement {
		padding: 0;
	}

	.bookSliderWrap {
		width: 50%;
	}

	.bookSliderBookDesc {
		width: 50%;
	}

	.bookSlider {
		order: 1;
	}

	.bookAnnouncement {
		order: 2;
		margin-bottom: 0;
	}

	.bookSliderBottom {
		padding: 0;
		order: 3;
	}
}