.lectures {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 660px;
    width: 840px;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.lecturesBlock {
    width: 85%;
    height: 85%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lecturesBlockItem {
    font-size: 2rem;
}

.lecturesBtnBlock {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.lecturesBtnLink {
    line-height: 1.2;
    font-size: 0.6rem;
    font-family: 'MuseoBold';
    padding: 0.75rem 2rem;
    color: #2C2C2C;
    background-color: #EBEBEB;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}



// MEDIA QUERIES



@media (min-width: 376px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 980px) {}

@media (min-width: 981px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
