.about-us__header {
    color: #2B1EDD;
    font-size: 2rem;
    font-family: 'MuseoBolder';
    text-transform: uppercase;
    margin-top: 8rem;
    margin-bottom: 1.2rem;
}

.about-us__desc {
    font-family: 'MuseoBold';
    margin-bottom: 5rem;
}
