.container {
	max-width: 1200px;
	margin: 0 auto;
}

.aboutUsHeader {
	color: #2B1EDD;
	font-size: 1.8rem;
	font-family: 'MuseoBolder';
	text-transform: uppercase;
	margin-bottom: 1.2rem;
	padding: 0 2rem;
}

.aboutUsDesc {
	font-family: 'MuseoBold';
	margin-bottom: 5.25rem;
	padding: 0 2rem;
	font-size: 0.9rem;
	line-height: 26px;
}




// MEDIA QUERIES



@media (min-width: 981px) {
	.aboutUsHeader {
		font-size: 2rem;
		padding: 0;
	}

	.aboutUsDesc {
		font-size: 1rem;
		line-height: 35px;
		padding: 0;
	}
}