:root {
	font-family: 'MuseoNormal';
	line-height: 1.5;
	font-weight: 400;
	color: #3B3B3B;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-size: 20px;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-500.ttf);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-700.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-900.ttf);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-500italic.ttf);
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-700italic.ttf);
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Museo';
	src: url(./fonts/museosanscyrl-900italic.ttf);
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'FreeSansOblique';
	src: url(./fonts/FreeSansOblique.ttf);
	font-weight: 500;
	font-style: oblique;
}



// MEDIA QUERIES



@media (min-width: 376px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 980px) {}

@media (min-width: 981px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}