.firstScreen {
    padding: 0.25rem;
}

.firstScreen,
.firstScreenHeader {
    display: flex;
    flex-direction: column;
}

.firstScreenHeader {
    align-items: center;
}

.fotoDescWrap {
    position: relative;
    text-align: center;
}

.textDescWrap {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.textDescCenter {
    line-height: 26px;
    width: 290px;
}

.descHeader {
    font-family: 'MuseoBold';
}

.descHeader,
.descHeaderText {
    font-size: 0.9rem;
    text-align: left;
}

.fotoDesc {
    max-width: 360px;
}

.heading,
.greatSong,
.freedom {
    text-transform: uppercase;
    font-family: 'MuseoBolder';
}

.greatSong,
.freedom {
    background: linear-gradient(90.21deg,
            #E122F9 4.11%,
            #6F2FF5 53.99%,
            #2B1EDD 99.88%), #434343;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.heading {
    font-size: 1.8rem;
}

.greatSong {
    font-size: 1.4rem;
}

.freedom {
    font-size: 1.1rem;
}

.aboutAuthor {
    display: flex;
    justify-content: flex-end;
    color: inherit;
    font-size: 0.75rem;
    text-decoration: none;
}

.aboutAuthorHeader {
    display: flex;
    align-content: center;

}

.aboutAuthorHeader::after {
    content: url('img/arrow-right.png');
    padding-left: 12px;
}



// MEDIA QUERIES



@media (min-width: 376px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 980px) {}

@media (min-width: 981px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
