.foto-prabhupada {
    display: block;
    height: 690px;
    position: relative;
    text-decoration: none;
}

.foto-prabhupada__img {
    height: 100%;
    position: relative;
    right: 216px;
}

.first-screen {
    position: absolute;
    top: 40px;
    left: 500px;
    line-height: 1;
}

.harekrishna,
.great-song,
.freedom {
    text-transform: uppercase;
    font-family: 'MuseoBolder';
}

.harekrishna {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    position: relative;
    right: 120px;
}

.great-song,
.freedom {
    background: linear-gradient(90.21deg, #E122F9 4.11%, #6F2FF5 53.99%, #2B1EDD 99.88%), #434343;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.great-song {
    font-size: 3.8rem;
    margin-bottom: 1.5rem;
}

.freedom {
    font-size: 2.4rem;
    position: relative;
    right: 60px;
}

.foto-prabhupada__desc {
    max-width: 600px;
    font-size: 1.2rem;
    margin-top: 4rem;
    line-height: 1.5;
    width: 100%;
}

.foto-prabhupada__desc-header {
    font-family: 'MuseoBolder';
}

.about-author {
    display: flex;
    justify-content: flex-end;
    color: inherit;
    font-size: 0.75rem;
    text-decoration: none;
    margin-top: 3rem;
    position: relative;
    left: 5rem;

}

.about-author__header {
    padding-right: 12px;
}
