.container {
	max-width: 1200px;
	margin: 0 auto;
}

.transition {
	transition: all 0.5s;
}

.firstScreen,
.firstScreenHeader {
	display: flex;
	flex-direction: column;
}

.firstScreen {
	position: relative;
	justify-content: space-between;
}

.firstScreenHeader {
	align-items: center;
	margin-bottom: 100%;
}

.heading,
.greatSong,
.freedom {
	text-transform: uppercase;
	font-family: 'MuseoBolder';
}

.greatSong,
.freedom {
	background: linear-gradient(90.21deg,
			#E122F9 4.11%,
			#6F2FF5 53.99%,
			#2B1EDD 99.88%), #434343;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.heading {
	font-size: 1.8rem;
}

.greatSong {
	font-size: 1.4rem;
}

.freedom {
	font-size: 1.1rem;
}

.fotoDescWrap {
	text-align: center;
}

.textDescWrap {
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 1rem;
}

.firstScreenHeaderWrap {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	z-index: 99;
	position: relative;
}

.textDescCenter {
	line-height: 26px;
	width: 80%;
}

.descHeader {
	font-family: 'MuseoBold';
}

.descHeader,
.descHeaderText {
	font-size: 0.9rem;
	text-align: left;
}

.fotoDesc {
	width: 100%;
	max-width: 791px;
	position: absolute;
	top: 5rem;
}

.aboutAuthor {
	display: flex;
	justify-content: flex-end;
	color: inherit;
	font-size: 0.75rem;
	text-decoration: none;
}

.aboutAuthorHeader {
	display: flex;
	align-content: center;
	padding-right: 2rem;
}

.aboutAuthorHeader::after {
	content: url('img/arrow-right.png');
	padding-left: 12px;

}



// MEDIA QUERIES



@media (min-width: 360px) and (max-width: 767px) {
	.heading {
		font-size: 2rem;
	}

	.greatSong {
		font-size: 1.6rem;
	}

	.freedom {
		font-size: 1.3rem;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.fotoDesc {
		top: 10rem;
		left: 0;
		right: 0;
		margin: auto;
	}
}

@media (min-width: 981px) and (max-width: 1199px) {
	.firstScreenHeader {
		margin-bottom: 73%;
	}

	.textDescCenter {
		padding: 2rem;
	}

	.fotoDescWrap {
		margin-bottom: 2rem;
	}
}

@media (min-width: 768px) {
	.heading {
		font-size: 3rem;
	}

	.greatSong {
		font-size: 3.8rem;
	}

	.freedom {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	.descHeader,
	.descHeaderText {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	.firstScreen {
		flex-direction: row;
		align-items: center;
	}

	.firstScreenHeaderWrap {
		justify-content: start;
		height: 689px;
	}

	.firstScreenHeader {
		margin-bottom: 10%;
	}

	.fotoDescWrap {
		margin-bottom: 2rem;
	}

	.fotoDesc {
		position: relative;
		height: 100%;
		width: 791px;
		top: -50px;
		right: 100px;
	}

	.textDescWrap {
		margin-bottom: 3rem;
	}

	.freedom {
		margin-bottom: 4rem;
	}

	.heading,
	.greatSong,
	.freedom {
		position: relative;
	}

	.heading {
		right: 250px;
	}

	.greatSong {
		right: 70px;
		width: 635px;
	}

	.freedom {
		right: 230px;
	}
}